[Unit]
Description=Flask Application

[Service]
ExecStart=/usr/bin/python3 /opt/app.py
WorkingDirectory=/opt
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target
